@charset "UTF-8";

@import '~material-design-lite/dist/material.min.css';
@import "~material-design-icons/iconfont/material-icons.css";
@import '~jsgrid/dist/jsgrid.min.css';
@import '~jsgrid/dist/jsgrid-theme.min.css';
@import '~datatables.net-dt/css/jquery.dataTables.css';

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.mprogress {
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 1000;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@import './dataTables.material.css'
